html,
body {
  padding: 0;
  margin: 0;
  @import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap");
}

body {
  max-width: 520px;
  width: 100%;
  margin: 0 auto;
}

a {
  color: inherit;
  text-decoration: none;
}
* {
  box-sizing: border-box;
}
